extends layout
block content
    .container
      .row.centered
        form
          .input-append
            input.input-xxlarge(type='text', placeholder='Thời gian mở cửa của ...', x-webkit-speech='x-webkit-speech', speech='speech')
            button.btn.btn-success(type='button')
              i.icon-search
    //
       /container 
    //
       Create new record 
    .container
      hgroup
        h3 Thêm mới dịch vụ
      form.form-horizontal.j-form(action='', method='post')
        fieldset
          .container-fluid
            .row-fluid
              .span6
                .control-group
                  label.control-label(for='id_is_owner') Dịch vụ này của tôi
                  .controls
                    input#id_is_owner(type='checkbox', name='is_owner', title='Are you the owner?')
                .control-group
                  label.control-label(for='id_name')
                    | Tên
                    span.b-required *
                  .controls
                    input#id_name(type='text', name='name', value='#{record.name}', placeholder='Tên dịch vụ')
                .control-group
                  label.control-label(for='id_city')
                    | Thành phố
                    span.b-required *
                  .controls
                    input#id_city.ui-autocomplete-input(type='text', name='city', value='#{record.city}', placeholder='Tên thành phố', autocomplete='off')
                    span.ui-helper-hidden-accessible(role='status', aria-live='polite')
                    input#id_city_id(name='city_id', type='hidden')
                .control-group
                  label.control-label(for='id_street')
                    | Số nhà, địa chỉ
                    span.b-required
                      | *
                  .controls
                    input#id_street(type='text', name='street', value='#{record.street}', placeholder='Số nhà, địa chỉ')
                .control-group
                  label.control-label(for='id_website') Trang Web
                  .controls
                    input#id_website(type='text', name='website', value='#{record.website}', placeholder='http://example.com')
                .control-group
                  label.control-label(for='id_phone') Điện thoại
                  .controls
                    input#id_phone(type='text', name='phone', value='#{record.phone}', placeholder='09938177232')
                .control-group
                  label.control-label(for='id_fax')
                    | Fax
                  .controls
                    input#id_fax(type='text', name='fax', value='#{record.fax}', placeholder='82983728')
                .control-group
                  label.control-label(for='id_main_category')
                    | Danh mục
                    span.b-required *
                  .controls
                    select#id_main_category.input-xlarge(name='main_category')
                      option(value='') Chọn danh mục
                      if record.main_category == "Quán ăn / Nhà hàng"
                        option(value='Quán ăn / Nhà hàng', selected) Quán ăn / Nhà hàng
                      else
                        option(value='Quán ăn / Nhà hàng') Quán ăn / Nhà hàng
                      if record.main_category == "Bưu điện"
                        option(value='Bưu điện', selected) Bưu điện
                      else
                        option(value='Bưu điện') Bưu điện
                      if record.main_category == "Dịch vụ"
                        option(value='Dịch vụ', selected) Dịch vụ
                      else
                        option(value='Dịch vụ') Dịch vụ
                      if record.main_category == "In ấn"
                        option(value='In ấn', selected) In ấn
                      else
                        option(value='In ấn') In ấn
                      if record.main_category == "Đồ điện tử"
                        option(value='Đồ điện tử', selected) Đồ điện tử
                      else
                        option(value='Đồ điện tử') Đồ điện tử
                      if record.main_category == "Nhà đất"
                        option(value='Nhà đất', selected) Nhà đất
                      else
                        option(value='Nhà đất') Nhà đất
                .control-group
                  label.control-label(for='id_description') Miêu tả
                  .controls
                    textarea#id_description.input-xlarge(name='description', rows='5', placeholder='') #{record.name}
              .span6
                label.control-label(for='id_hours')
                  | Thời gian mở cửa
                  span.b-required *
                //
                   table 
                table.table.table-bordered.table-striped.table-condensed(data-type='normal')
                  thead
                    tr
                      th Ngày
                      th Thời gian
                      th
                  tbody
                    tr(data-weekday='mon')
                      td(style='vertical-align: middle;') Thứ 2
                      td#test.ctrl-limit(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        //
                           <button class="btn btn-info j-get-from-prev-day" title="">Như hôm trước</button> 
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='tue')
                      td(style='vertical-align: middle;') Thứ 3
                      td.ctrl-limit(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='wed')
                      td(style='vertical-align: middle;') Thứ 4
                      td(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='thu')
                      td(style='vertical-align: middle;') Thứ 5
                      td#l-thu(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='fri')
                      td(style='vertical-align: middle;') Thứ 6
                      td(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='sat')
                      td(style='vertical-align: middle;') Thứ 7
                      td(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                    tr(data-weekday='sun')
                      td(style='vertical-align: middle;') CN
                      td(style='vertical-align: middle;')
                        .j-day-hours
                          input.input-small.time-field(type='text', placeholder='mở')
                          input.input-small.time-field(type='text', placeholder='đóng')
                          a.btn.j-add-interval(title='')
                            i.icon-plus
                      td(style='vertical-align: middle;')
                        a.btn.btn-info.j-get-from-prev-day(title='') Như hôm trước
                      td(style='vertical-align: middle;')
                        a.btn.btn-danger.j-set-closed Đóng cửa
                //
                   table 
                .pull-left
                  button.btn.btn-primary(type='submit') Lưu
                  button.btn Cancel
    //
       Create new record 
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/createhelper.js')